h1{
    font-family: fantasy;
}
.intro{
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
}
.quote{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: underline;
}
.note{
    font-synthesis-small-caps: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}